
{% extends 'base.html' %}


{% block content %}

<center>
	<img src="{{url_for('static', filename='mge.jpg')}}"/>

	<table class="styled-table">
		<thead>
			<tr>
				<th>Demand Response Event Info</th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Event Start</td>
				<td>{{event_info.adr_start}}</td>
			</tr>
			<tr>
				<td>Electrical Meter Reading in Watts</td>
				<td>{{event_info.building_meter}}</td>
			</tr>
			<tr>
				<td>Event Duration (Hours:Minutes:Seconds)</td>
				<td>{{event_info.adr_duration}}</td>
			</tr>
			<tr>
				<td>Event End Time</td>
				<td>{{event_info.adr_event_ends}}</td>
			</tr>
			<tr>
				<td>Event Is Active</td>
				<td>{{event_info.adr_event_is_active}}</td>
			</tr>
			<tr class="active-row">
				<td>Signal for when event is Active</td>
				<td>{{event_info.event_payload_value}}</td>
			</tr>
			<tr>
				<td>Active BACnet API signal value</td>
				<td>{{event_info.bacnet_api_payload_value}}</td>
			</tr>
		</tbody>
	</table>
</center>
{% endblock %}