
{% extends 'base.html' %}


{% block content %}


<center>
	<img src="{{url_for('static', filename='mge.jpg')}}"/>

	<table class="styled-table">
		<thead>
			<tr>
				<th>Demand Response Event Info</th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Event Start</td>
				<td>{{event_info.adr_start}}</td>
			</tr>
			<tr>
				<td>Electrical Meter Reading</td>
				<td>{{event_info.building_meter}}</td>
			</tr>
			<tr>
				<td>Event Duration</td>
				<td>{{event_info.adr_duration}}</td>
			</tr>
			<tr>
				<td>Event End Time</td>
				<td>{{event_info.adr_event_ends}}</td>
			</tr>
			<tr>
				<td>Event End Time</td>
				<td>{{event_info.adr_event_ends}}</td>
			</tr>
			<tr class="active-row">
				<td>Active Demand Response Payload</td>
				<td>{{event_info.event_payload_value}}</td>
			</tr>
			<tr>
				<td>Active BACnet API Signal</td>
				<td>{{event_info.bacnet_payload_value}}</td>
			</tr>
		</tbody>
	</table>
</center>
{% endblock %}